anaconda-navigator
anaconda-project
argh
asn1crypto
astropy
autopep8
backports.shutil-get-terminal-size
bitarray
bkcharts
bokeh
boto
bottleneck
brotlipy
conda-build
conda-package-handling
conda-verify
contextlib2
cytoolz
deprecated
distributed
english
fastapi
fastcache
flake8
flask-babel
flask-jwt-extended
flask-login
flask-openid
flask-sqlalchemy
flask-wtf
fsspec
gensim
gevent
glob2
gunicorn
html5lib
httptools
jupyter
jupyterlab
langdetect
lxml
marshmallow-enum
mkl-fft
mkl-random
mkl-service
mock
more-itertools
multipledispatch
navigator-updater
neobolt
neotime
nine
nlpcloud
nose
numba
olefile
openpyxl
partd
path
pathlib2
pep8
pip-chill
ply
prison
py-eureka-client
py2neo
pycountry
pycurl
pydocstyle
pyodbc
pyopenssl
pyreadline
pysocks
pyspark
pytest
python-dotenv
rope
rtree
sacremoses
scikit-image
scikit-learn
seaborn
simplegeneric
singledispatch
sip
sortedcollections
sphinxcontrib-websupport
spyder
sqlalchemy-utils
statsmodels
sympy
tables
tensorflow
textblob
transformers
tweepy
unicodecsv
uvicorn
watchfiles
websockets
win-inet-pton
win-unicode-console
wincertstore
wordcloud
xlrd
xlsxwriter
xlwings
xlwt
xmltodict
yapf
